
@{
    ViewData["Title"] = "Pages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Renk</th>
            <th>Yayınlanma Durumu</th>
            <th>Açıklama</th>
            <th>Yayınlanma Tarihi</th>
            <th>İşlemler</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stok</td>
                <td>@item.Color</td>
                <td>
                    @(item.isPublish ? "Evet" : "Hayır")
                </td>
                <td>
                    @if (item.Description.Length > 20)
                    {
                        @item.Description.Substring(0,20)

                        <span>...</span>
                    }
                    else
                    {
                        @item.Description
                    }



                </td>

                <td>@item.puslishDate</td>
                <td>
                    <a asp-controller="products" asp-action="getbyid" asp-route-productid="@item.Id"> <i class="fa-solid fa-circle-right" style="color:green"></i> </a>
                    <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id"> <i class="fa-solid fa-trash mx-2" style="color:brown"></i> </a>
                    <a asp-controller="products" asp-action="update" asp-route-id="@item.Id"> <i class="fa-solid fa-pen-to-square" style="color:goldenrod"></i> </a>

                </td>
            </tr>
        }

    </tbody>
</table>
